 <!-- Footer -->
 <footer class="footer">
    <nav class="footer-menu">
      <div class="contenedor">
        <a class="logo-footer" href="index.html">
          <img src="./assets/images/logo.png" class="nav-logo-img" alt="Logo Ajedrez" />
        </a>
        <!-- Central -->
        <ul class="menu-nav">
          <li class="li-nav">
            <a class="a-nav" href="index.html">Inicio</a>
          </li>
          <li class="li-nav">
            <a class="a-nav" href="miembros.html">Miembros</a>
          </li>
          <li class="li-nav">
            <a class="a-nav" href="blog.html">Blog</a>
          </li>
          <li class="li-nav">
            <a class="a-nav" href="contacto.html">Contacto</a>
          </li>
        </ul>
        <!-- RRSS -->
        <ul class="menu-nav">
          <li class="li-nav">
            <a class="a-nav" href="https://google.com/"
              ><i class="fa-brands fa-google" style="color: #ffffff"></i
            ></a>
          </li>
          <li class="li-nav">
            <a class="a-nav" href="https://facebook.com/"
              ><i class="fa-brands fa-facebook-f" style="color: #ffffff"></i
            ></a>
          </li>
          <li class="li-nav">
            <a class="a-nav" href="https://twitter.com/"
              ><i class="fa-brands fa-twitter" style="color: #ffffff"></i
            ></a>
          </li>
        </ul>
      </div>
    </nav>
  </footer>