<!-- Menú principal -->
<header class="header">
    <nav class="header_principal">
      <div class="contenedor">
        <a class="nav-logo" href="index.html">
          <img src="./assets/images/logo.png" class="nav-logo-img" alt="Logo Ajedrez" />
        </a>
        <ul class="menu-nav">
          <li class="li-nav">
            <a class="a-nav" href="miembros.html">Miembros</a>
          </li>
          <li class="li-nav">
            <a class="a-nav" href="blog.html">Blog</a>
          </li>
          <li class="li-nav">
            <a class="a-nav" href="contacto.html">Contacto</a>
          </li>
        </ul>
      </div>
    </nav>
  </header>